* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
}

body {
  color: black;
  height: 100vh;
  overflow: hidden;
}

button {
  background: white;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  padding: 10px;
}

canvas {
  margin: 0 auto;
  border-radius: 25px;
}

form {
  margin: 20px auto;
}

header {
  border-bottom: black;
  padding: 10px;
}

html {
  height: 100vh;
}

input {
  display: block;
  margin: 7px auto;
  padding: 5px;
  text-align: left;
  border: 2px solid black;
}

ul {
  list-style: none;
}

button:hover {
  background: grey;
}

#leaderboard-table {
  margin: 0 auto;
  border: 3px solid black;
}

#profiletabs {
  padding-bottom: 30px;
}

#profiletabs ul {
  list-style: none;
  display: inline;
  height: 50px;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
}

#profiletabs ul li {
  display: inline;
  padding-bottom: 30px;
}

#profiletabs ul li a {
  display: inline;
  margin: 0 auto;
  padding: 8px 11px;
  font-weight: bold;
}

#profiletabs ul li a:hover {
  background: #000;
  color: LemonChiffon;
  border-radius: 30px;
}

#user-content {
  border: 3px solid black;
  display: block;
  height: 50%;
  width: 750px;
  margin: 0 auto;
  padding: 30px 20px;
  padding-bottom: 35px;
  overflow-y: scroll;
}

#leaderboard-table th {
  padding: 0 30px;
}

#link-options, #signin-signup {
  margin: 20vh auto;
  width: 50%;
}

#link-options li {
  margin: 30px 0;
  padding: 3vh 3vw;
  border: 4px solid black;
  cursor: pointer;
}

#link-options li:hover {
  background: LemonChiffon;
}

path {
stroke: steelblue;
stroke-width: 2;
fill: none;
}

.axis path, .axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}
